body {
	margin: 0;
	text-align: center;
}

#bigHeader {
	height: 140px;
	background-color: rgb(139, 32, 27);
	color: white;
	font-size: 60px;
	padding: 5px;
	/* font-weight: normal; */
}

#RGB-color {
	font-size: 50px;
}

#container {
	width: 600px;
	margin: 0 auto; /* To center the div */
}

.square {
	background-color: red;
	height: 170px;
	width: 30%;
	float: left; /* To make the div elements display inline */
	margin: 1.66%;
	border-radius: 30px;
}