body {
	margin: 0;
	text-align: center;
	background-color: #d4d2d2;
}

#bigHeader {
	background-color: rgb(139, 32, 27);
	font-size: 60px;
	padding: 30px;
	text-transform: uppercase;
	color: white;
}

#RGB-color {
	font-size: 50px;
}

#smallHeader {
	background-color: gray;
	height: 30px;
}

button {
	font-weight: bold;
	color: rgb(139, 32, 27);
	border: none;
	background-color: gray;
	outline: none;
	height: 100%;
	margin: 0;
	font-size: 18px;
}

.active {
	background-color: rgb(139, 32, 27);
	color: white;
}

#message {
	width: 28%;
	display: inline-block;
}

#container {
	width: 600px;
	margin: 0 auto; /* To center the div */
}

.square {
	height: 170px;
	width: 30%;
	float: left; /* To make the div elements display inline */
	margin: 1.66%;
	border-radius: 30px;
}